.sample{
    color: indigo;

}
 
.container{
    background-color: lavenderblush;
    border-left: mintcream;
    margin-left: 2%;
}


.header-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0%;    
    align-items: center;
    height: 60px;
    background-color: mintcream;
    width: 95%;

}


.body-container{
    height:90vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(245, 247, 244, 0.918);
}
.logo-and-search{
    display: flex;
    justify-content: right;
    align-self: flex-start;
    margin: 0;
   
}

.icon-container-head{
    display:flex ;
    width:0px;
   justify-content: right;
    text-align: center;
}

.search-container{
    padding-top:20px;
    padding-left: 18%;
    
    width: 700px;
}

.search-container input{
    width: 80%;
}

.side-nav-container{
    width: 16%;
    
    display: flex;
    flex-direction: column;
    
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(8, 34, 59);
    }
    

    .main-container{
        
        padding-top: 2.6em;
        width: 70%;
        display:flex;
        justify-content: space-between;
        
    }
    

    .height-100{
        height: 100%;
    }

    .side-nav-links{
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 3em;
        text-align: center;
        align-content: center;
        padding-top: 2em;
    }

    .side-links{
            width:270px;
            height:auto;
            padding:1%;
            
            float:left;
            margin: 1em;
        }
        
        h3{
            margin:0
        }
        
        
        .left {
            float:left;
            width:45px;
            padding-right:0;
            margin: 0;
            padding-left: 1em;
            
        }
        .right {
            float:left;
            margin: 0;
            width:100px;
            padding-left: 0;
        }
    
 
        .left1 {
            float:left;
            width:45px;
            padding-right:1em;
            margin: 0;
            padding-left: 1em;
            
        }

.h1{
    padding-left: 1.4em;
    padding-right: 1.6em;
    display: flex;

}
input{
    border: 0;
}
font{
    margin: 0;
    border:0;
}






 
.title{
    display: flex;
    width:80%;
}


