.dheader-container{
    padding-top: 1.6em;
        width: 1200px;
        display:flex;
        justify-content: space-between;
        background-color: lawngreen;

}
.left2 {
    float:left;
    width:45px;
    padding-right:1em;
    margin: 0;
    padding-left: 1em;
    

}
.right1 {
    float:right;
    margin: 0;
    width:100px;
    padding-left: 0;
}
.dside{
display:flex;

}
.graph{
    display: flex;
    justify-content: flex-start;
    position: absolute;
}

.dash-row{
    display: flex;
    width: 400px;
    background-color: lavender;
    justify-content: space-evenly;
font-family: Verdana, Geneva, Tahoma, sans-serif;
height: 1350px;
padding-right: 1.5em;
}

.row >div >h3{
    justify-content: center;
    align-items: center;
    padding-left: 1.6em;
    padding: top 1em;
}

.dash-card{
    display: flex;
    justify-content: space-between;
}

.date{
     color: rgb(173, 171, 166); 
}
header{
    background-color: lawngreen;
}